body {
	margin: 0;
	background-color: #ffffff;
	color: #000000;
	text-align: center;
}

.navbar {
	background-color: #ffffff;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	font-family: "Inter", serif;
}

.navbar a {
	color: white;
	text-decoration: none;
	margin: 0 15px;
}

.navbar .left {
	margin-left: 0px;
	font-weight: bold;
	font-size: 20px;
}

.navbar .right {
	margin-right: 15px;
}

.navbar .right a {
	color: rgba(0, 0, 0, 0.8);
}

.main {
	margin-top: 80px;
	padding: 20px;
}

.icon {
	width: 50px;
	height: 50px;
	background-color: gray;
	margin: 0 auto;
	border-radius: 50%;
}

.section {
	margin: 150px auto;
}

.section h2 {
	font-family: "Poppins", sans-serif;
}

.section p {
	font-family: "Inter", sans-serif;
}

.section button {
	font-family: "Inter", sans-serif;
	background: linear-gradient(to right, #232526, #414345);
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	margin-top: 10px;
	border-radius: 20px;
}

.section button:hover {
	background: linear-gradient(to right, #29323c, #485563);
}

#heading {
	margin-top: 100px;
}

#heading h1 {
	font-family: "Poppins", sans-serif;
	font-size: 50px;
	background: linear-gradient(to right, #283c86, #45a247);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#heading h2 {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin-top: -15px;
	padding-bottom: 50px;
}

#speech {
	margin-top: 100px;
}

#translate {
	margin-bottom: 25px;
}
