body {
	margin: 0;
	background-color: #ffffff;
	color: #000000;
	text-align: center;
}

.navbar {
	background-color: #ffffff;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	font-family: "Inter", serif;
}

.navbar a {
	color: white;
	text-decoration: none;
	margin: 0 15px;
}

.navbar .left {
	margin-left: 0px;
	font-weight: bold;
	font-size: 20px;
}

.navbar .right {
	margin-right: 15px;
}

.navbar .right a {
	color: rgba(0, 0, 0, 0.8);
}

h1 {
	font-family: "Poppins", sans-serif;
	font-size: 50px;
	background: linear-gradient(to right, #283c86, #45a247);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: 180px;
	padding: 20px;
}

button {
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	margin-top: -10px;
	border-radius: 20px;
	font-family: "Inter", sans-serif;
	background: linear-gradient(to right, #232526, #414345);
}

button:hover {
	background: linear-gradient(to right, #29323c, #485563);
}

#filename {
	display: block;
	margin-top: 30px;
	font-family: "Inter", sans-serif;
	font-style: italic;
}

#output {
	display: block;
	margin-top: 25px;
	font-family: "Poppins", sans-serif;
	color: rgba(0, 0, 0, 0.8);
	padding-left: 20px;
	padding-right: 20px;
	font-size: 25px;
	text-align: left;
	padding-bottom: 20px;
}
