@import "tailwindcss";


body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.container, .form-container, .bmi-container, .diet-container {
  width: 50%;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input {
  display: block;
  width: 80%;
  padding: 10px;
  margin: 10px auto;
}

button {
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: darkgreen;
}  

/* Hide scrollbar but allow smooth scrolling */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
